@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  background-image: linear-gradient(to bottom, #660708, #A4161A);
  color: white;
  font-family: "Dancing Script", cursive;
}

body {
  background-image: url(../assets/img/restaurante.jpg.opdownload);
  background-size: cover;
  color: white;
}

h1 {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

header ul {
  padding-top: 1em;
  list-style: none;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: flex-end;
  justify-content: space-evenly;
  font-size: 1.5em;
  cursor: pointer;
}

main {
  display: grid;
  grid-row-gap: 2em;
  grid-column-gap: 1em;
  grid-template-columns: 2fr 2fr 2fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas:
    ". presentacion ."
    "carne equipo carta";
}

.presentacion {
  padding-top: 1em;
  font-size: 3em;
  font-family: "Dancing Script", cursive;
  font-weight: 700;
  grid-area: presentacion;
}


h2 {
    font-size: 4em;
    font-family: "Dancing Script", cursive;
    text-align: center;
    }


.carne{
  grid-area: carne;
  display: flex;
  margin-left: 0.5em;
  text-align: center;
  flex-direction: column;
  color: white;
  font-weight: 600;
  background-image: url(../assets/img/carne.jpg);
  background-position: center;
  cursor: pointer;
  width: 35em;
  height: 35em;
  transition: height 1.5s, width 1.5s;

  animation-name: carne-animacion;
  animation-duration: 0.7s;
  animation-delay: 0s;
  animation-iteration-count: initial;
  animation-timing-function: ease-in;
  animation-direction: normal;
} 

@keyframes carne-animacion {
  0% {
 
    transform: translate(0, 20em);
  }
}
.carne:hover {
height: 40em;
width: 40em;
}



.equipo {
    grid-area: equipo;
    background-image: url(../assets/img/equipo.jpg);
    background-size: cover;
    font-weight: 700;
    cursor: pointer;
    width: 35em;
    height: 35em;
    transition: height 1.5s, width 1.5s;

    animation-name: equipo-animacion;
    animation-duration: 0.7s;
    animation-delay: 0s;
    animation-iteration-count: initial;
    animation-timing-function: ease-in;
    animation-direction: normal;
}

@keyframes equipo-animacion {
  0% {
    transform:translate(0, 20em);
  }
}

.equipo:hover {
  height: 40em;
  width: 40em;
}


.carta {
    grid-area: carta;
    background-image: url(../assets/img/menu.jpeg);
    background-size: cover;
    background-position: bottom;
    margin-right: 0.5em;
    cursor: pointer;
    width: 35em;
    height: 35em;
    transition: height 1.5s, width 1.5s;

    animation-name: carta-animacion;
    animation-duration: 0.7s;
    animation-delay: 0s;
    animation-iteration-count: initial;
    animation-timing-function: ease-in;
    animation-direction: normal;
}

@keyframes carta-animacion {
  0% {
    transform: translate(0, 20em);
  }
}

.carta:hover {
  height: 40em;
  width: 40em;
}

footer {
  text-align: center;
  font-size: 2em;
  background-image: linear-gradient(to bottom, #660708, #A4161A);
  font-family: "Dancing Script", cursive;
  background-size: cover;
}

